requests
beautifulsoup4
pdfminer.six
python-docx
faiss-cpu
numpy
--extra-index-url https://download.pytorch.org/whl/cu118

#for windows
torch==2.3.1+cu118 

#for mac
#torch

transformers
flask
ir-measures
